<html>
    <head>
        <title>Главная страница</title>
    </head>
    <body>
        <div>Добро пожаловать</div>
        <form action="/books" method="GET">
            <button type="submit">Книги</button>
        </form>
    
        <form action="/authors" method="GET">
            <button type="submit">Авторы</button>
        </form>
    </body>
</html>