<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторы</title>
    <style>
        body {
            display: flex;
            justify-content: center;
        }

        .form-container {
            margin-right: 20px;
        }

        .main-container {
            max-width: 600px;
            display: flex;
        }

        .container {
            padding: 20px;
        }

        .title {
            text-align: center;
            font-size: 24px;
        }

        .form-container {
            padding: 10px;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

        .form-container label {
            text-align: right;
            margin-right: 10px;
        }

        .button-container {
            margin-right: 20px;
        }

    </style>
</head>
<body>
    <div class="main-container">
        <div class="button-container">
            <a href="/" style="text-decoration: none;">
                <button>На главную</button>
            </a>
        </div>

        <div class="form-container">
            <h2>Добавить автора</h2>
            <form action="/authors" method="POST">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name">

                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname">

                <label for="patronymic">Отчество:</label>
                <input type="text" id="patronymic" name="patronymic">

                <input type="submit" value="Добавить">
            </form>
        </div>

        <div class="container">
            <h1 class="title">Список авторов</h1>
            <ul>
                {% for author in authors %}
                    <li>{{ author.id }}. {{ author.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
