<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книги</title>
    <style>
        body {
            display: flex;
            justify-content: center;
        }

        .form-container {
            margin-right: 20px;
        }

        .main-container {
            max-width: 600px;
        }

        .container {
            padding: 20px;
        }

        .title {
            text-align: center;
            font-size: 24px;
        }

        .form-container {
            padding: 10px;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

        .form-container label {
            text-align: right;
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div class="main-container">
        <div class="form-container">
            <h2>Добавить книгу</h2>
            <form action="/books" method="POST">
                <label for="title">Название:</label>
                <input type="text" id="title" name="title">

                <label for="publicationYear">Год публикации:</label>
                <input type="number" id="publicationYear" name="publicationYear">

                <label for="ISBN">ISBN:</label>
                <input type="text" id="ISBN" name="ISBN">

                <label for="pageCount">Количество страниц:</label>
                <input type="number" id="pageCount" name="pageCount">

                <input type="submit" value="Добавить">
            </form>
        </div>

        <div class="container">
            <h1 class="title">Список книг</h1>
            <ul>
                {% for book in books %}
                    <li>{{ book.id }}. {{ book.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
