<html>
<head>
    <title>Вход в админку</title>
</head>
<body>
    <?php if (isset($error)): ?>
        <span style="color: red;">
            <?= $error ?>
        </span>
    <?php endif; ?>

    <h2>Войти</h2>
    <form action="/" method="POST">
        <label for="login">Логин:</label><br>
        <input type="text" id="login" name="login"><br><br>
        
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Войти">
    </form>
</body>
</html>